
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mongo Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/notes">Saved Articles</a>
                <a class="nav-item nav-link scrape" href="#" value="scrape">Scrape Articles</Article></a>
            </div>
        </div>
    </nav>

    <div class="landing">
        <div class="center">
            <h1>Mongo Scraper</h1>
            <h5>Video Game Edition</video></h5>
        </div>
    </div>
    <div class="main-border">
        <div class="container">
            <h1 class="articles-title">Scraped articles</h1>
            <div class="col-md-12">
                {{#if article}}
                    {{#each article}}
                    <div class="panel panel-default  mainContent border mb-1">
                        <div class="panel-heading">
                            <h4>{{this.title}}</h4>
                        </div>
                        <div class="panel-body">
                            <p> {{this.summary}}</p>
                            <a href={{this.link}} target="_blank">{{this.link}}</a>
                            <br><br>
                            <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                <div class="panel panel-default">
                    <div class="panel-body">
                    <h4>No content available, Please Scrape</h4>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>